
/* General page styling */
html  {
  font-size: 18px;
  font-family: helvetica;
  color: white;
}

/* HEADER (header is unfixed, logo with padding-left, justify left, display: block) */
header {
  display: flex;
  height: 3.125rem;
  background-color: black;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10%;
  width: 60%;

}

.logo img {
  justify-content: center;
  align-content: center;
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

.logo h3 {
  font-family: helvetica;
  font-size: 1rem;
}

/* MAIN BANNER SECTION (background image with no-repeat and width is 100%;
styled an interior div for "new arrivals" banner, stlyed text within the banner) */
.main-banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.new-arrival {
  position: relative;
  background-color: black;
  margin-left: 10%;
  width: 20rem;
  top: 9rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.new-arrival h3 {
  font-size: 1rem;
  font-weight: bold;
  font-family: helvetica;
  padding-bottom: .25rem;
}

.new-arrival h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: helvetica;
}

/* NAV SECTION (redbrick background, no-text decoration, an unordered
 list flex container with "sapce-between" there is a hidden "menu" item within
 the list */
nav {
  background-color: firebrick;
}

#menu {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: .75rem;
}

/* PORDUCT GRID SECTION (section is a flex container, indivdual products are
block level items with an image and heading inside */
.product-grid {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 3rem auto;
}

.exploding-pen,
.cellular-watch,
.thermal-glasses {
  display: block;
  border: 4px solid black;
  width: 30%;
  overflow: hidden;
}

.product-grid img {
  height: 9rem;
  max-width: 100%;
  display: block;
  margin: 2rem auto;
}

.product-grid h4 {
  background-color: black;
  text-align: center;
  padding: .5rem;
}
/* (this is a flex container with "space-between" in both desktop and tablet
sizes) */
.location-hours {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.location,
.hours {
  width: 35%;
}

.location-hours h4 {
  background-color: black;
  padding: 1rem;
  padding-left: 2rem;
  font-size: 1rem;
}

.location-hours p {
  color: black;
  font-size: 1rem;
}
/* (footer aligns left in desktop and tablets) */
footer {
  display: flex;
  align-items: center;
  background-color: black;
  height: 10rem;
}

footer h4 {
  margin-left: 10%;
}

/* Media query targeting tablet size screens. changes made include:
1. reduced new-arrival banner margin;
2. redcuced font-sizes within the new-arrivals banner by 25%;
3  delete the nav list to just say "menu;"
4. not showing the third picture "Thermal Glasses;"
5. removed margin from the footer coyright text
5. reduced size of new-arrival banner by 25% */
@media only screen and (max-width: 1024px) {
  .new-arrival {
    margin-left: 1rem;
    width: 15rem;
  }

  .new-arrival h3 {
    font-size: .75rem;
  }

  .new-arrival h1 {
    font-size: 1.5rem;
  }

  #eyewear,
  #apparel,
  #gadgets,
  #vehicles,
  #classes,
  #contact {
    display: none;
  }

  #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: .75rem;
  }

  .thermal-glasses {
    display: none;
  }

  .exploding-pen,
  .cellular-watch {
    display: block;
    border: 4px solid black;
    width: 47%;
    overflow: hidden;
}

footer h4 {
  margin-left: 0%;
}

/* Media query targeting mobile phone size screens. changes made include:
1. moved "new-arrival" banner to the bottom of container and made width 100%;
2. reduced "new-arrival" banner font-size by 50%;
3. removed second product so only one is visible and made width 90% of container;
4. made "location-hours" container a flex container and justified as column
5. footer text is centered on screen */
@media only screen and (max-width: 470px) {
  .main-banner {
    height: 20rem;
  }

  .new-arrival {
    position: relative;
    background-color: black;
    width: 100%;
    top: 13rem;
    margin-left: 0px;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .new-arrival h3 {
    font-size: .5rem;
  }

  .new-arrival h1 {
    font-size: 1rem;
  }

  #eyewear,
  #apparel,
  #gadgets,
  #vehicles,
  #classes,
  #contact {
    display: none;
  }

  #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: .25rem;
  }

  .product-grid {
    justify-content: center;
  }

  .thermal-glasses,
  .cellular-watch {
    display: none;
  }

  .exploding-pen {
    display: block;
    border: 4px solid black;
    width: 90%;
    overflow: hidden;
}

  .location-hours {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .location,
  .hours {
    width: 90%;
    margin-bottom: .5rem;
    text-align: center;
  }

  .location h4,
  .hours h4 {
    padding-left: 0rem;
  }

  footer {
    justify-content: center;
}
